.menu tab{
	

	width:1300px;
	height:50px;
	
	background:url(../hinh%20anh/header-background.jpg) center no-repeat;
}


..trai{
	width:9px;
	height:50px;
	float:left;
	background:
}
.menu{
	width:1300px;
	float:left;
	background:url(../hinh%20anh/header-background.jpg);
	display:block;
	list-style-type:none;
}
..phai{
	width:9px;
	height:50px;
	float:left;
	background:
}
.menu li{
	display:inline;
	font-size:23px;
	font-weight:bold;
	line-height:50px;
	
	text-align:center;
	
	
	
}
.menu li a{
	text-decoration:none;
	display:block;
	float:left;
	padding:0 0px 0 10px;
	margin-left:70px;
	text-align:center;
	

	
	
	
}
.menu li a:hover{
	background:url(../hinh%20anh/header-background.jpg)  #7bbcc7;
	color:#fff;
}
	




	

	

	
	

